body {
  margin: 0;
  background: linear-gradient(135deg, #0f2027, #203a43);
  font-family: Segoe UI, sans-serif;
}

.app {
  color: white;
  text-align: center;
  padding: 40px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 25px;
  width: 320px;
  margin: auto;
  border-radius: 20px;
}

button {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.stop {
  background: #ef4444;
}

.result, .history {
  margin-top: 30px;
}

.note {
  background: rgba(0,0,0,0.4);
  margin: 10px auto;
  padding: 15px;
  width: 70%;
  border-radius: 12px;
}
